<div class="list-group col-xs-6 col-xs-offset-3">
  <div class="list-group-item active h3">Detalle cliente</div>
  <div class="list-group-item"><%= @cliente.nombre %></div>
  <div class="list-group-item"><%= @cliente.ape_pat %></div>
  <div class="list-group-item"><%= @cliente.ape_mat %></div>
</div>