<div class="list-group col-xs-6 col-xs-offset-3">
  <div class="list-group-item active h3">Detalle Factura</div>
  <div class="list-group-item"><%= @factura.fecha %></div>
  <div class="list-group-item"><%= @factura.id_cliente %></div>
  <div class="list-group-item"><%= @factura.id_usuario %></div>
  <div class="list-group-item"><%= @factura.total %></div>
</div>